---
import { Image } from "astro:assets";
import NINETYFIVEImage from "@assets/images/ninetyFivePc.png";
import NINETYImage from "@assets/images/ninetyPc.png";
import EIGHTYFIVEImage from "@assets/images/eightyFivePc.png";
---

<div class="grid1_3">
  <div class="stat-holder">
    <div class="img-holder">
      <img src={EIGHTYFIVEImage} alt="" />
    </div>
    <p>Consistency</p>
  </div>
</div>

<style>
  .grid1_3 {
  }
</style>
