---
import { Image } from "astro:assets";
import Services from "./Services.astro";
import CEOImage from "@assets/images/ceo.png";
import LinkButton from "./LinkButton.astro";
---

<section class="hero">
  <div class="hero-content">
    <h1>Empowering Your Business Growth</h1>
    <p>Discover tailored strategies and expert insights to take your business to the next level. Let us help you navigate challenges and achieve sustainable success.</p>
    <LinkButton color="white" title="Book a Meeting" link="#0" />
  </div>
  <Image src={CEOImage} alt="CEO" class="hero-img" />
  <div class="cover"></div>

  <!-- <div class="services">
    <Services />
  </div> -->
</section>

<style>
  /* Styles her */
  @layer components {
  }
  .hero {
    background-color: var(--secondary-white);
    color: var(--secondary-white);
    grid-column: 1/-1;
    display: grid;
    max-height: 95vh;
    /* grid-template-columns: minmax(0, 1fr) minmax(0, 600px) minmax(0, 600px) minmax(0, 1fr); */
    grid-template-columns: [side-start]1fr [side-end content-start se-start]minmax(0, 600px) [content-end img-start] minmax(0, 600px) [side-end se-end]1fr [img-end];
    /* grid-template-rows: repeat(5, 1fr); */
    /* z-index: 1; */
    .hero-content {
      grid-column: content;
      grid-row: 1 / 3;
      display: flex;
      flex-direction: column;
      align-items: start;
      /* z-index: 2; */
      background-color: var(--primary-dark);
      * {
        margin-block-start: var(--flow-space, 1rlh);
      }
    }

    .cover {
      grid-column: side;
      grid-row: 1 / 3;
      background-color: var(--primary-dark);
    }

    .hero-img {
      object-fit: cover;
      grid-column: img;
      grid-row: 1/3;
      /* z-index: 1; */
    }

    h1 {
      --flow-space: 3.5rlh;
    }

    p {
      max-width: 45ch;
    }
  }
</style>
